

$primaryColor:#f6cf24;
$secondaryColor:#0274b3;

*{
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
}
.mr-2 {
    margin-right: 0.5rem!important;
}
.btn{
    &-primary{
        background-color: $primaryColor;
    }
    &-secondary{
        background-color: $secondaryColor;
    }
}

.main_header{
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.39);
-webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.39);
    .top {
        &-header{
            width:100%;
            clear:both;
        }
    }

    .nav-link{
        color: $secondaryColor!important;
    }
}