* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.btn-primary {
  background-color: #f6cf24;
}
.btn-secondary {
  background-color: #0274b3;
}

.main_header {
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.39);
}
.main_header .top-header {
  width: 100%;
  clear: both;
}
.main_header .nav-link {
  color: #0274b3 !important;
}/*# sourceMappingURL=main.css.map */